@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Logo{
    color: white;
    font-family: "Sofia", sans-serif;
}

body{
    width: 100%;
    /* background: #0c111b; */
    background: linear-gradient(to bottom, #97bbff, #889acf 70%);
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.navbar{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 4%;
    background: #14161b;
    z-index: 9;
    display: flex;
    align-items: center;
}

.brand-logo{
    height: 70px;
}

.nav-links{
    margin-top: 10px;
    display: flex;
    list-style: none;
}

.nav-items a{
    text-decoration: none;
    margin-left: 20px;
    color: white;
    opacity: 0.9;
}

.right-container{
    display: block;
    margin-left: auto;
}

.search-box{
    border: none;
    border-bottom: 1px solid #aaa;
    background: transparent;
    outline: none;
    height: 30px;
    color: white;
    width: 250px;
    font-size: 16px;
    font-weight: 500;
    transition: .5s;
}

.search-box:focus{
    width: 400px;
    border-color: #1f88e0;
}

.sub-btn{
    background: #1f88e0;
    height: 30px;
    padding: 0 20px;
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    font-size: 12px;
    margin: 0 10px;
}

.login-link{
    color: white;
    opacity: 0.9;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
}

.carousel-container{
    position: relative;
    width: 100%;
    height: 550px;
    padding: 20px 0;
    overflow-x: hidden;
    margin-top: 10px;
}

.carousel{
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
}

.slider{
    flex: 0 0 auto;
    margin-right: 30px;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    left: 0;
    transition: 1s;
    overflow: hidden;
}

.slider img{
    width: 70%;
    min-height: 100%;
    object-fit: cover;
    display: block;
    margin-left: auto;
}

.slide-content{
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(to right, #030b17 80%, #0c111b00);
    color: white;
}

.movie-title{
    padding-left: 50px;
    text-transform: capitalize;
    margin-top: 80px;
    margin-bottom: 10px;
}

.more-info{
    width: 80%;
    line-height: 30px;
    padding-left: 50px;
    opacity: 0.5;
    font-size: 15px;
}

.movie-des{
    width: 80%;
    line-height: 30px;
    padding-left: 50px;
    margin-top: 10px;
    opacity: 0.8;
}

.watch-movie{
    width: 80%;
    line-height: 30px;
    padding-left: 50px;
    margin-top: 40px;
    opacity: 0.8;
    font-size: 20px;
}

.video-card-container{
    position: relative;
    width: 98%;
    margin: auto;
    height: 10vw;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

.video-card{
    position: relative;
    min-width: calc(100%/5 - 10px);
    width: calc(100%/5 - 10px);
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    background: #030b17;
    transition: .5s;
}

.video-card-image, .card-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-video{
    position: absolute;
}

.video-card:hover .video-card-image{
    display: none;
    
}

.video-card:hover {
    transform: scale(1.1);
    z-index: 999;
}

.title{
    color: black;
    opacity: 0.9;
    padding-left: 4%;
    font-size: 42px;
    font-weight: 500;
    font-family: 'Barriecito';
}


.title {
    color: black;
    opacity: 0.9;
    padding-left: 40px;
    padding-top: 20px;
    text-transform: capitalize;
    font-size: 44px;
    font-weight: 600;
}

.movies-list {
    width: 100%;
    position: relative;    
    align-items: center;    
    margin-right: 10px;
    transition: .5s;   
}
.movie-cards{
    height: 550px;
    padding:0 30px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.card-container {
    position: relative;
    width: 92%;
    padding-left: 10px;
    height: 400px;
    display: flex;    
    margin: 0 auto;
    align-items: center;
    transition: 0.5s;
    
}
.movie-cards::-webkit-scrollbar {
    display: none;
}


.card {
    position: relative;
    min-width: 150px;
    width: 250px;
    height: 380px;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 10px;
    transition: .5s;
}

.card-img {
    width: 100%;
    height:100%;
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
}
.descriptions{
    position: absolute;
    top:0px;
    left:0px;
    background-color: rgba(255,255,255,.7);
    width:100%;
    height:100%;
    transition: all .7s ease-in-out;
    padding: 20px;
    box-sizing: border-box;
    clip-path: circle(0% at 100% 100%);
}
.card:hover .descriptions{
    left:0px;
    transition: all .7s ease-in-out;
    clip-path: circle(75%);
}
.card:hover{
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
    box-shadow: 0px 2px 3px rgba(0,0,0,.3);
    transform: scale(1.13);
}
.card:hover img{
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
    transform: scale(1.6) rotate(20deg);
    filter: blur(3px);
}
.card h1{
    color: #ff3838;
    letter-spacing: 1px;
    margin: 0px;
    font-size:15px !important;
}
.card p{
    line-height: 24px;
    height: 70%;
    font-size:13px !important;
}
.card button{
    width: fit-content;
    height: 40px;
    cursor: pointer;
    border-style: none;
    background-color: #ff3838;
    color:#fff;
    font-size: 15px;
    outline: none;
    box-shadow: 0px 2px 3px rgba(0,0,0,.4);
    transition: all .5s ease-in-out;
}
.card button:hover{
    transform: scale(.95) translateX(-5px);
    transition: all .5s ease-in-out;
}


.watchlist-btn {
    position: relative;
    width: 100%;
    text-transform: capitalize;
    background: none;
    border: none;
    font-weight: 500;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
    margin: 5px 0;
    cursor: pointer;
    padding: 10px 5px;
    border-radius: 5px;
}

.pre-btn i,
.nxt-btn i{
    font-size: 22px;
    color: white;
    opacity: 0;
}

.pre-btn,
.nxt-btn {
    position: absolute;
    top: 0;
    width: 5%;
    height: 100%;
    z-index: 12;
    border: none;
    cursor: pointer;
    outline: none;
    opacity: 0;
}

.pre-btn {
    left: 0;
    background: linear-gradient(to right,  #5c76afe3 0%, #648fe400);
}

.nxt-btn {
    right: 0;
    background: linear-gradient(to left, #9bb6f0e3 0%, #8ab0fb00);
}

.pre-btn:hover i,
.nxt-btn:hover i {
    opacity: 1;
}

.movies-list:hover .nxt-btn,
.movies-list:hover .pre-btn{
    opacity: 1;
}
